{%load static%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" type="image/jpg" href="{% static 'icons/gp2.png' %}">
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Francois+One&display=swap" rel="stylesheet">

    <!--<meta name="display" content="KJCOEMR GATE PASS"> -->

    <title>HOD GFM VALIDATE</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/gfm.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Concert+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
            <a href="index"><h1>KJCOEMR GATE PASS</h1></a>
            </div>
            <nav>
                <ul>
                        {%if user.is_authenticated %}
									
                        <li><a href="hod_home">Hello {{user.first_name}}</a></li>
						<li><a href="forget_pass1">ChangePassowrd</a></li>
                        <li><a href="#">Profile</a></li>
						<li><a href="logout">LOGOUT</a></li>
                        {% else %}
                        <li><a href="hod_home">HOME</a></li>
                        <li><a href="about_us">ABOUT</a></li>
                        <li><a href="#">CONTACT</a></li>
                        {%endif%}
                </ul>
            </nav>      
        </div>
    </header>
    <section id="hd">
    	<div class="container">
    		<h1>GFM Verification</h1>
    	</div>
    </section>

    {%if data|length %}
    <section id="stu">
        <div class="container">
            <div style="overflow-x: auto;">
            <table>
                <tr>
                    <th>Sr.no</th>
                    <th>Name</th>
                    <th>Mobile Number</th>
                    <th>Email Id</th>
                    <th>I-card Number</th>
                    <th>Approve</th>
                </tr>
                {%for i in data%}
                <tr>
                    <td>{{i.0}}</td>
                    <td>{{i.1}}</td>
                    <td>{{i.2}}</td>
                    <td>{{i.3}}</td>
                    <td>{{i.4}}</td>
                    <td><form action="" method="post">{%csrf_token%}
                        <label>
                            <input type="radio" name="verify" value="accept">
                            <span class="accept">ACCEPT</span>
                        </label>
                        <label>
                            <input type="radio" name="verify" value="reject">
                            <span class="reject">REJECT</span>
                        </label>
                    <button type="submit" name="Submit" value="{{i.1}}">Confirm</button>
                    </form></td>
                </tr>
                {%endfor%}
            </table>
        </div>
        </div>
    </section>
    {%else%}
    <section>
            <table>
                    <tr> 
                     <td id="hd" colspan="1" bgcolor="lightblue"><h1>Currently no request gfm validation</h1></td>
                   </tr> 
                   </table>
    </section>  
    {%endif%}
<!--<footer>
<p>KJCOEMR GATE PASS,Copyright &copy;2019</p>
</footer>-->
</body>
</html>
